{deps, [{gpb, "4.7.1"}, 
        {websocket_client, "1.3.0"}
       ]}.

{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}, {pa, " _build/default/lib/cwe/ebin"}]}.

{plugins, [{rebar3_gpb_plugin, "2.8.0"}]}.

{gpb_opts, [
    {i, "proto"}, {use_packages, true}, {module_name_prefix, "pb_"}, {type_specs, true}
    ]
}.
{provider_hooks, 
	[{pre, [
		{compile, {protobuf, compile}}, 
		{clean, {protobuf, clean}}
	]}]}.
